<img src="https://cdn.pixabay.com/photo/2016/02/18/13/32/darth-vader-1207142_1280.jpg" width="300" class="mx-auto d-block rounded" alt="image">
<h1><%= @article.title %></h1>
<h3><%= @article.content %></h3>
